<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
		<!-- CSS -->
   <link rel="stylesheet" href="/css/main.css" type="text/css" />
   
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
			{{ content }}
			
		</div><!-- /.container -->
	
		<footer>
    		<ul>
        	<li><a href="https://github.com/steve4010">github.com/steve4010</a></li>
        	<li><a href="http://steve4010.github.io/blog/atom.xml">Subscribe To My Blog (RSS)</a></li>
        		</ul>
		</footer>
	</body>
</html>
